svg {
    border: 1px solid black;
    background-color: rgb(174, 196, 209);
    fill: none;
    z-index: 1;
    overflow: visible;
}

path {
  stroke-width: 3px;
  fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    background-color: white;
}
